__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.so

# outputs / checkpoints
runs/
*.pt
*.bin
*.safetensors
scripts.zip

# notebooks checkpoints
.ipynb_checkpoints/

# env
.env
.venv/
venv/
env/

# editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# wandb
wandb/
